@charset "utf-8";

 html { font-size: 62.5%; scroll-behavior: smooth; }
*{ margin: 0; padding: 0; box-sizing: border-box; }
a{ text-decoration: none; color: #333; }
ol, ul{ list-style: none; }
/* 표 -> "선의 중첩여부 & 가로너비" 설정 */
table{ border-collapse: collapse; width: 100%; }
caption, legend{ display: none; }
input, select, textarea, fieldset{ outline: none; border: 0; }
img{ vertical-align: top; }
address { font-style: normal; }